<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Kabuto_AirHurt_01</key>
		<dict>
			<key>frame</key>
			<string>{{553,38},{62,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,57}}</string>
			<key>sourceSize</key>
			<string>{62,57}</string>
		</dict>
		<key>Kabuto_AirHurt_02</key>
		<dict>
			<key>frame</key>
			<string>{{425,43},{70,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,48}}</string>
			<key>sourceSize</key>
			<string>{70,48}</string>
		</dict>
		<key>Kabuto_Death_01</key>
		<dict>
			<key>frame</key>
			<string>{{288,85},{98,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,24}}</string>
			<key>sourceSize</key>
			<string>{98,24}</string>
		</dict>
		<key>Kabuto_Feathers_01</key>
		<dict>
			<key>frame</key>
			<string>{{38,1186},{60,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,89}}</string>
			<key>sourceSize</key>
			<string>{60,89}</string>
		</dict>
		<key>Kabuto_Feathers_02</key>
		<dict>
			<key>frame</key>
			<string>{{143,1185},{60,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,89}}</string>
			<key>sourceSize</key>
			<string>{60,89}</string>
		</dict>
		<key>Kabuto_Feathers_03</key>
		<dict>
			<key>frame</key>
			<string>{{250,1186},{60,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,89}}</string>
			<key>sourceSize</key>
			<string>{60,89}</string>
		</dict>
		<key>Kabuto_Float_01</key>
		<dict>
			<key>frame</key>
			<string>{{528,163},{53,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,46}}</string>
			<key>sourceSize</key>
			<string>{53,46}</string>
		</dict>
		<key>Kabuto_Float_02</key>
		<dict>
			<key>frame</key>
			<string>{{442,147},{42,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,60}}</string>
			<key>sourceSize</key>
			<string>{42,60}</string>
		</dict>
		<key>Kabuto_Hurt_01</key>
		<dict>
			<key>frame</key>
			<string>{{770,47},{39,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,78}}</string>
			<key>sourceSize</key>
			<string>{39,78}</string>
		</dict>
		<key>Kabuto_Hurt_02</key>
		<dict>
			<key>frame</key>
			<string>{{681,45},{37,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,66}}</string>
			<key>sourceSize</key>
			<string>{37,66}</string>
		</dict>
		<key>Kabuto_Idle_01</key>
		<dict>
			<key>frame</key>
			<string>{{10,35},{38,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,75}}</string>
			<key>sourceSize</key>
			<string>{38,75}</string>
		</dict>
		<key>Kabuto_Idle_02</key>
		<dict>
			<key>frame</key>
			<string>{{79,35},{35,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,75}}</string>
			<key>sourceSize</key>
			<string>{35,75}</string>
		</dict>
		<key>Kabuto_Idle_03</key>
		<dict>
			<key>frame</key>
			<string>{{142,35},{36,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,75}}</string>
			<key>sourceSize</key>
			<string>{36,75}</string>
		</dict>
		<key>Kabuto_Idle_04</key>
		<dict>
			<key>frame</key>
			<string>{{208,35},{37,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,75}}</string>
			<key>sourceSize</key>
			<string>{37,75}</string>
		</dict>
		<key>Kabuto_Knockdown_01</key>
		<dict>
			<key>frame</key>
			<string>{{442,147},{42,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,60}}</string>
			<key>sourceSize</key>
			<string>{42,60}</string>
		</dict>
		<key>Kabuto_Knockdown_02</key>
		<dict>
			<key>frame</key>
			<string>{{528,163},{53,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,46}}</string>
			<key>sourceSize</key>
			<string>{53,46}</string>
		</dict>
		<key>Kabuto_Knockdown_03</key>
		<dict>
			<key>frame</key>
			<string>{{610,185},{104,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,28}}</string>
			<key>sourceSize</key>
			<string>{104,28}</string>
		</dict>
		<key>Kabuto_NAttack_01</key>
		<dict>
			<key>frame</key>
			<string>{{261,268},{49,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,78}}</string>
			<key>sourceSize</key>
			<string>{49,78}</string>
		</dict>
		<key>Kabuto_NAttack_02</key>
		<dict>
			<key>frame</key>
			<string>{{326,275},{51,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,71}}</string>
			<key>sourceSize</key>
			<string>{51,71}</string>
		</dict>
		<key>Kabuto_NAttack_03</key>
		<dict>
			<key>frame</key>
			<string>{{396,272},{89,75}}</string>
			<key>offset</key>
			<string>{18,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,75}}</string>
			<key>sourceSize</key>
			<string>{89,75}</string>
		</dict>
		<key>Kabuto_NAttack_04</key>
		<dict>
			<key>frame</key>
			<string>{{510,272},{44,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,80}}</string>
			<key>sourceSize</key>
			<string>{44,80}</string>
		</dict>
		<key>Kabuto_NAttack_05</key>
		<dict>
			<key>frame</key>
			<string>{{572,279},{71,71}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>Kabuto_NAttack_06</key>
		<dict>
			<key>frame</key>
			<string>{{663,278},{101,71}}</string>
			<key>offset</key>
			<string>{-19,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,71}}</string>
			<key>sourceSize</key>
			<string>{101,71}</string>
		</dict>
		<key>Kabuto_NAttack_07</key>
		<dict>
			<key>frame</key>
			<string>{{789,274},{55,74}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,74}}</string>
			<key>sourceSize</key>
			<string>{55,74}</string>
		</dict>
		<key>Kabuto_NAttack_08</key>
		<dict>
			<key>frame</key>
			<string>{{885,278},{69,78}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,78}}</string>
			<key>sourceSize</key>
			<string>{69,78}</string>
		</dict>
		<key>Kabuto_Skill01_01</key>
		<dict>
			<key>frame</key>
			<string>{{18,273},{48,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,72}}</string>
			<key>sourceSize</key>
			<string>{48,72}</string>
		</dict>
		<key>Kabuto_Skill01_02</key>
		<dict>
			<key>frame</key>
			<string>{{96,274},{49,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,71}}</string>
			<key>sourceSize</key>
			<string>{49,71}</string>
		</dict>
		<key>Kabuto_Skill01_03</key>
		<dict>
			<key>frame</key>
			<string>{{175,278},{56,70}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,70}}</string>
			<key>sourceSize</key>
			<string>{56,70}</string>
		</dict>
		<key>Kabuto_Skill02_01</key>
		<dict>
			<key>frame</key>
			<string>{{535,394},{56,70}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,70}}</string>
			<key>sourceSize</key>
			<string>{56,70}</string>
		</dict>
		<key>Kabuto_Skill02_02</key>
		<dict>
			<key>frame</key>
			<string>{{619,400},{86,71}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,71}}</string>
			<key>sourceSize</key>
			<string>{86,71}</string>
		</dict>
		<key>Kabuto_Skill02_03</key>
		<dict>
			<key>frame</key>
			<string>{{735,395},{67,73}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,73}}</string>
			<key>sourceSize</key>
			<string>{67,73}</string>
		</dict>
		<key>Kabuto_Skill02_04</key>
		<dict>
			<key>frame</key>
			<string>{{837,399},{73,73}}</string>
			<key>offset</key>
			<string>{11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,73}}</string>
			<key>sourceSize</key>
			<string>{73,73}</string>
		</dict>
		<key>Kabuto_Skill03_01</key>
		<dict>
			<key>frame</key>
			<string>{{84,890},{60,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,52}}</string>
			<key>sourceSize</key>
			<string>{60,52}</string>
		</dict>
		<key>Kabuto_Skill03_02</key>
		<dict>
			<key>frame</key>
			<string>{{168,894},{95,49}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,49}}</string>
			<key>sourceSize</key>
			<string>{95,49}</string>
		</dict>
		<key>Kabuto_Skill03_03</key>
		<dict>
			<key>frame</key>
			<string>{{298,898},{96,48}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,48}}</string>
			<key>sourceSize</key>
			<string>{96,48}</string>
		</dict>
		<key>Kabuto_Skill03_04</key>
		<dict>
			<key>frame</key>
			<string>{{425,869},{104,79}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,79}}</string>
			<key>sourceSize</key>
			<string>{104,79}</string>
		</dict>
		<key>Kabuto_Skill03_05</key>
		<dict>
			<key>frame</key>
			<string>{{572,923},{127,24}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,24}}</string>
			<key>sourceSize</key>
			<string>{127,24}</string>
		</dict>
		<key>Kabuto_Skill03_fase2_01</key>
		<dict>
			<key>frame</key>
			<string>{{75,1018},{115,78}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,78}}</string>
			<key>sourceSize</key>
			<string>{115,78}</string>
		</dict>
		<key>Kabuto_Skill03_fase2_02</key>
		<dict>
			<key>frame</key>
			<string>{{227,972},{110,122}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,122}}</string>
			<key>sourceSize</key>
			<string>{110,122}</string>
		</dict>
		<key>Kabuto_Skill03_fase2_03</key>
		<dict>
			<key>frame</key>
			<string>{{372,989},{93,104}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,104}}</string>
			<key>sourceSize</key>
			<string>{93,104}</string>
		</dict>
		<key>Kabuto_Skill03_fase2_04</key>
		<dict>
			<key>frame</key>
			<string>{{494,984},{88,119}}</string>
			<key>offset</key>
			<string>{-15,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,119}}</string>
			<key>sourceSize</key>
			<string>{88,119}</string>
		</dict>
		<key>Kabuto_Skill03_fase2_05</key>
		<dict>
			<key>frame</key>
			<string>{{631,1041},{132,66}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,66}}</string>
			<key>sourceSize</key>
			<string>{132,66}</string>
		</dict>
		<key>Kabuto_Skill03_fase2_06</key>
		<dict>
			<key>frame</key>
			<string>{{821,1036},{61,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,67}}</string>
			<key>sourceSize</key>
			<string>{61,67}</string>
		</dict>
		<key>Kabuto_Skill04_01</key>
		<dict>
			<key>frame</key>
			<string>{{40,403},{42,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,53}}</string>
			<key>sourceSize</key>
			<string>{42,53}</string>
		</dict>
		<key>Kabuto_Skill04_02</key>
		<dict>
			<key>frame</key>
			<string>{{109,406},{41,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,54}}</string>
			<key>sourceSize</key>
			<string>{41,54}</string>
		</dict>
		<key>Kabuto_Skill04_03</key>
		<dict>
			<key>frame</key>
			<string>{{173,405},{56,54}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,54}}</string>
			<key>sourceSize</key>
			<string>{56,54}</string>
		</dict>
		<key>Kabuto_Skill04_04</key>
		<dict>
			<key>frame</key>
			<string>{{241,408},{52,57}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,57}}</string>
			<key>sourceSize</key>
			<string>{52,57}</string>
		</dict>
		<key>Kabuto_Skill04_05</key>
		<dict>
			<key>frame</key>
			<string>{{321,407},{52,58}}</string>
			<key>offset</key>
			<string>{6,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,58}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>Kabuto_Skill04_06</key>
		<dict>
			<key>frame</key>
			<string>{{395,406},{42,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,55}}</string>
			<key>sourceSize</key>
			<string>{42,55}</string>
		</dict>
		<key>Kabuto_Skill04_07</key>
		<dict>
			<key>frame</key>
			<string>{{455,405},{43,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,57}}</string>
			<key>sourceSize</key>
			<string>{43,57}</string>
		</dict>
		<key>Kabuto_Skill05_fase1_01</key>
		<dict>
			<key>frame</key>
			<string>{{27,522},{38,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,76}}</string>
			<key>sourceSize</key>
			<string>{38,76}</string>
		</dict>
		<key>Kabuto_Skill05_fase1_02</key>
		<dict>
			<key>frame</key>
			<string>{{102,503},{45,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,94}}</string>
			<key>sourceSize</key>
			<string>{45,94}</string>
		</dict>
		<key>Kabuto_Skill05_fase1_03</key>
		<dict>
			<key>frame</key>
			<string>{{173,502},{45,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,98}}</string>
			<key>sourceSize</key>
			<string>{45,98}</string>
		</dict>
		<key>Kabuto_Skill05_fase2_01</key>
		<dict>
			<key>frame</key>
			<string>{{252,529},{47,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,73}}</string>
			<key>sourceSize</key>
			<string>{47,73}</string>
		</dict>
		<key>Kabuto_Skill05_fase2_02</key>
		<dict>
			<key>frame</key>
			<string>{{338,532},{91,70}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,70}}</string>
			<key>sourceSize</key>
			<string>{91,70}</string>
		</dict>
		<key>Kabuto_Skill05_fase2_03</key>
		<dict>
			<key>frame</key>
			<string>{{458,530},{82,70}}</string>
			<key>offset</key>
			<string>{18,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>Kabuto_Skill05_fase2_04</key>
		<dict>
			<key>frame</key>
			<string>{{576,517},{139,75}}</string>
			<key>offset</key>
			<string>{-18,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,75}}</string>
			<key>sourceSize</key>
			<string>{139,75}</string>
		</dict>
		<key>Kabuto_Skill05_fase2_05</key>
		<dict>
			<key>frame</key>
			<string>{{748,527},{72,76}}</string>
			<key>offset</key>
			<string>{12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,76}}</string>
			<key>sourceSize</key>
			<string>{72,76}</string>
		</dict>
		<key>Kabuto_Skill05_fase2_06</key>
		<dict>
			<key>frame</key>
			<string>{{846,554},{102,51}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,51}}</string>
			<key>sourceSize</key>
			<string>{102,51}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_01</key>
		<dict>
			<key>frame</key>
			<string>{{31,652},{53,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,51}}</string>
			<key>sourceSize</key>
			<string>{53,51}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_02</key>
		<dict>
			<key>frame</key>
			<string>{{103,627},{70,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,76}}</string>
			<key>sourceSize</key>
			<string>{70,76}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_03</key>
		<dict>
			<key>frame</key>
			<string>{{203,627},{115,79}}</string>
			<key>offset</key>
			<string>{18,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,79}}</string>
			<key>sourceSize</key>
			<string>{115,79}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_04</key>
		<dict>
			<key>frame</key>
			<string>{{346,629},{141,79}}</string>
			<key>offset</key>
			<string>{35,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,79}}</string>
			<key>sourceSize</key>
			<string>{141,79}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_05</key>
		<dict>
			<key>frame</key>
			<string>{{534,631},{132,77}}</string>
			<key>offset</key>
			<string>{26,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,77}}</string>
			<key>sourceSize</key>
			<string>{132,77}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_06</key>
		<dict>
			<key>frame</key>
			<string>{{714,649},{134,69}}</string>
			<key>offset</key>
			<string>{-20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,69}}</string>
			<key>sourceSize</key>
			<string>{134,69}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_07</key>
		<dict>
			<key>frame</key>
			<string>{{87,746},{143,67}}</string>
			<key>offset</key>
			<string>{-31,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,67}}</string>
			<key>sourceSize</key>
			<string>{143,67}</string>
		</dict>
		<key>Kabuto_Skill05_fase3_08</key>
		<dict>
			<key>frame</key>
			<string>{{278,742},{115,68}}</string>
			<key>offset</key>
			<string>{24,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,68}}</string>
			<key>sourceSize</key>
			<string>{115,68}</string>
		</dict>
		<key>Kabuto_Skill05_fase4_01</key>
		<dict>
			<key>frame</key>
			<string>{{431,749},{114,54}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,54}}</string>
			<key>sourceSize</key>
			<string>{114,54}</string>
		</dict>
		<key>Kabuto_Skill05_fase4_02</key>
		<dict>
			<key>frame</key>
			<string>{{604,750},{159,72}}</string>
			<key>offset</key>
			<string>{-15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,72}}</string>
			<key>sourceSize</key>
			<string>{159,72}</string>
		</dict>
		<key>Kabuto_Walk_01</key>
		<dict>
			<key>frame</key>
			<string>{{19,154},{68,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,81}}</string>
			<key>sourceSize</key>
			<string>{68,81}</string>
		</dict>
		<key>Kabuto_Walk_02</key>
		<dict>
			<key>frame</key>
			<string>{{112,150},{75,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,84}}</string>
			<key>sourceSize</key>
			<string>{75,84}</string>
		</dict>
		<key>Kabuto_Walk_03</key>
		<dict>
			<key>frame</key>
			<string>{{221,150},{89,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,79}}</string>
			<key>sourceSize</key>
			<string>{89,79}</string>
		</dict>
		<key>Kabuto_Walk_04</key>
		<dict>
			<key>frame</key>
			<string>{{343,157},{62,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,71}}</string>
			<key>sourceSize</key>
			<string>{62,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Kabuto.png</string>
		<key>size</key>
		<string>{1024,1400}</string>
		<key>textureFileName</key>
		<string>Kabuto.png</string>
	</dict>
</dict>
</plist>
